

.sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:
    "width" 100;
}

body{
  background-color: #EA9D43;
}


.primario{
    color: #f5f8fa;
    background-color: rgb(52, 3, 230);
}

.abs{

  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.text-justify{
    text-align: justify;

}


.center{

  background-size: cover;
}


header img{
 position: relative; 
 top: 60px;
 left: 150px;
width: 200px;
}

.clearfix img{
width: 200px!important;

}

.container img:first-child{
  width: 30px;
  margin-right: 10px;
}

.container>span{
  color: rgb(7, 7, 7) !important;
  font-size: medium;
}

.barra{
  background-color: #F2C3A7;
}
.container .row .col img{
width: 200px;
}




    header{
    
    background-image:url("../imagenes/digital.jpg");
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: cover;
    height: 250px;
    
     }

     .fixed{
      position: fixed;
      

     }

     .padd{
      padding-left: 4rem !important; 
      
         }

         .container a{
          font-size: medium;

         }

         .nav-item a:hover{
          font-size: 14px;
          color: rgb(6, 7, 7)!important;
         }

          .bg-dark .container p{
          margin-right:20px;
          display: inline;
          font-size: smaller;
          height: 100px;
         }

         .bg-dark .container  i{
          margin-right: 10px;
         }

         .tex-center img{
          width: 50px;
         }

         @media(max-width: 480px) {

          div.col p{
            text-align:justify;
          }

          span.text-dark:first-child{
          position: relative;
          right: 170px;
         }
         
          .clearfix .col-md-6 h3{
          text-align: center;
         }
         
          .clearfix img{
            width: 150px!important;
            
            }



          header{
            width: 100%;
            
          }

          
          iframe{
           width: 335px;

          }
        

          .container .row .col img{
            width: 150px;
            }
          
          }
        
          @media(max-width: 768px) {
            .imagen{
              width: 100%;
              height: 100%;
            }
            
            }