*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}




.sans {
  font-family: "raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:
    "width" 100;
}

body{
  background-color: #EA9D43;
  color: rgb(37, 71, 71);
  
}


.primario{
    color: #f5f8fa;
    background-color: rgb(52, 3, 230);
}

.abs{

  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.text-justify{
    text-align: justify;

}


.center{

  background-size: cover;
}



/*logo barra de navegacion*/
.navbar img{
  width: 30px;
  margin-right: 10px;
  margin-left: 29px;
}

.navbar a{
  font-size: smaller;
}

.navbar span{
  font-size: 14px;
}


.barra{
  background-color: #09e2d7d0;
}






    header{
    
    background-image:url("../imagenes/digital.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 20%;
    
    height: 250px;
    
     }

     .fixed{
      position: fixed;
      

     }

     .padd{
      padding-left: 4rem !important; 
      
         }

         

         .nav-item a:hover{
          font-size: 14px;
          color: rgb(6, 7, 7)!important;
         }

          .bg-dark .container p{
          margin-right:20px;
          display: inline;
          height: 100px;
         }

         .bg-dark .container  i{
          margin-right: 10px;
         }

         /*todas las imagenes*/
         .m-5  img{
          width:200px;
         }

         .m-4 img[alt]{
          width: 200px;
          margin-left: 90px;
          margin-bottom: 20px;
         }

         .m-4 img[class='div_img']{
          width: 300px;
          margin-left: 49px;
          margin-bottom: 20px;
          margin-top: 10px;
         }

           .col span{
          margin-left: 220px;
        }
        .clearfix span{
          margin-left: 160px;
        }
        

         @media(max-width: 480px) {

          
          
          .col span{
            margin-left: 120px;
          }
          .clearfix span{
            margin-left: 130px;
          }
          
           .m-4 img[class='div_img']{
          width: 300px;
          margin-left: 9px;
          margin-bottom: 20px;
          margin-top: 10px;
         }

         .m-4 img[alt]{
          width: 200px;
          margin-left: 50px;
          margin-bottom: 20px;
         }
          
          
          div.col p{
            text-align:justify;
          }

          span.text-dark:first-child{
          position: relative;
          right: 200px;
         }
         
          .clearfix .col-md-6 h3{
          text-align: center;
         }
         
           .clearfix img{
            width: 0px ;
            margin-left:0px;
            margin-bottom: 10px;
            margin-top: 1opx;
            padding: 0px;
            }



          header{
            width: 100%;
            
          }

          
          iframe{
           width: 335px;

          }

          a.navbar-brand.text-light{
            margin-right: 200px;
          }

          span.navbar-brand.text-light{
            margin-left: 30px;
          
          }

          .m-5 img{
            width: 200px;
            margin-left: 20px;
            padding:0px ;
            margin-bottom: 20px;
            margin-top: 10px;
            }
          
          }
        
          @media(max-width: 768px) {
            .imagen{
              width: 100%;
              height: 100%;
            }
            
            }